* {
  box-sizing: border-box;
  margin: 0px;
}

body {
  font-family: 'Shadows Into Light', cursive;
  font-size: 18px;
  line-height: 36px;
  /* background: url("../images/marble.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%; */
  height: 100%;
  margin: 0;
  padding: 0;
  border: 7px solid darkgrey;
}
  
* {
  box-sizing: border-box;
  margin: 0;
}
  

/* footer  */
footer {
  /* clear: both; */
  padding: 10px 30px 10px 30px;
  margin: 0 15% 0% 15%;
  font-size: 14px;
  color: black;
  text-align: center;
  height: 50px;
  /* width: 100%; */
}

#footerhr {
  margin: 20px -22px 20px -22px;
}
  
h3, h2 {
  padding-bottom: 20px;
  margin-bottom: 15px;
  line-height: 22px;
  border-bottom: 2px solid #eeeeee;
}

#logo,
#title,
footer {
  font-family: 'Cedarville Cursive', Cursive;
}


/* start hover styling */
#logo:hover,
  input[type=submit]:hover {
  color: #5e7f7e;
}
  
nav a:hover {
  color: #5e7f7e;
}
  
.social:hover {
  cursor: pointer;
  opacity: 0.8;
}
/* end hover styling */
  

/* general styling */
.container1 {
  text-align: center;
  width: 100%;
  margin: 0 auto;
  clear: both;
}
  
h1,
h2,
h3,
p {
  margin-bottom: 20px;
}
  
p:last-child {
  margin-bottom: 0;
}
  
h1,
h2,
h3 {
  font-family: 'Cedarville Cursive', Cursive;
  font-weight: 700;
  color: #808080;
}
  
h1 {
  font-size: 30px;
  line-height: 49px;
  color: black;
}
  
h2,
h3 {
  font-size: 22px;
}
  
hr {
  border: 1px solid lightgrey;
}


/* header */
#masthead {
  position: sticky;
  margin: 0 15% 0 15%;
  padding-top: 10px;
  padding-bottom: 30px;
  overflow: auto;
  color: #fff;
  border-top: none;
}
 
#logoPic {
  background: url("../images/marble.jpg");
  padding: 50px;
  text-align: center;
}

#logo {
  /* float: left; */
  height: 100%;
  font-family: 'Cedarville Cursive', Cursive;
  font-size: 70px;
  font-weight: 700;
  line-height: 90px;
  color: black;
  text-align: center;
  text-decoration: none;
}
  
nav {
  margin-top: 20px;
}
  
nav a {
  /* clear: both; */
  display: inline-block;
  padding-left: 35px;
  padding-right: 35px;
  margin-left: 15px;
  line-height: 18px;
  color: #999;
  text-decoration: none;
  border-left: 1px solid #efefef;
}
  
nav a:first-child {
  border-left: 0 none;
}

  
.social {
  width: 35px;
  height: 35px;
  margin-top: 8px;
  margin-right: 5px;
}
  
.social:last-child {
  margin-right: 0;
}
  

  /* main */
  .main-section {
    /* float: left; */
    margin: 0% 15% 0% 15%;
  }

#title{
  font-size: 30px;
}

.author {
  /* display: block; */
  float:left;
  margin: 20px 30px 30px 0px;
  width: 25%;
  height: auto;
  border-radius: 50%;
  padding: 7px;
  border: 1px solid black;
}

#description {
  padding-bottom:20px;
}
  
  



/* portfolio page */
.work {
  position: relative;
  float: left;
  width: 350px;
  height: 230px;
  margin: 20px 40px 25px 0px;
  overflow: auto;
}


.projects {
  margin: 0px 0px 0px 45px;
}

.work img {
  width: 100%;
  border: 0 none;
  /* opacity: 0.8; */
}

.work h3 {
  position: absolute;
  bottom: 20px;
  width: 100%;
  /* height: 100%; */
  padding: 15px;
  margin-bottom: 0;
  font-weight: 300;
  line-height: 30px;
  color: #fff;
  text-align: center;
  background: #4aaaa5;
  border-bottom: 0;
}

.auth-image {
  float: left;
  width: 200px;
  height: auto;
  margin-top: 10px;
  margin-right: 25px;
}

#repo {
  text-align: center;
  font-size: 15px;
}




/* contact page */
#contact-form ul {
  margin-bottom: 20px;
}

#contact-form li {
  margin-bottom: 10px;
}

label,
input[type=text],
input[type=email],
textarea {
  display: block;
  width: 100%;
}

input[type=text],
input[type=email],
textarea {
  height: 35px;
  padding: 0 10px;
  font-size: 14px;
  border: 1px solid #dddddd;
}

textarea {
  height: 200px;
}

input[type=submit] {
  padding: 10px 30px;
  font-size: 18px;
  color: #ffffff;
  cursor: pointer;
  background: #808080;
  border: 0 none;
}






  /* media query width for 960px and below */
@media screen and (max-width: 960px) {
  #logo {
    font-size: 10vw;
    line-height: 1.4; 
  }
}

@media screen and (min-width: 1460px) {
  .main-section {
    width: 66.3%;
    margin: 0% 15% 0% 15%;
  }
}

  